graft src
graft tests
prune scripts
prune notebooks
prune dev

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png

exclude *.toml

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

include README.md LICENSE docs/Makefile
include Pipfile
include requirements.txt
exclude tox.ini .flake8 .bumpversion.cfg .readthedocs.yml CONTRIBUTING.rst
exclude dev

include docs/requirements.txt
recursive-include docs *.bib